---
import { Analytics } from "@vercel/analytics/next";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/escudo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Proyecto Gimnasia</title>
  </head>
  <body>
    <Analytics />
    <slot />
  </body>
</html>
